.switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
	margin-right: 20px;
}
.container {
	display: flex;
	justify-content: flex-end;
}
p {
	color: white;
}
label {
	color: white;
}
.switch input {
	display: none;
}

.slider {
	background-color: rgb(209, 58, 58);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
}

.slider:before {
	background-color: rgb(248, 248, 248);
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
}

input:checked + .slider {
	background-color: #66bb6a;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
#img1 {
	width: 800px;
	display: inline-block;
	position: relative;
}
body {
	background-color: black;
}
#date {
	z-index: 1;
	position: absolute;
	text-align: left;
	margin: 0 auto;
	left: 0;
	right: 500;
	top: 10%;
	color: white;
	width: 70%;
}
#heure {
	z-index: 1;
	position: absolute;
	text-align: left;
	margin: 0 auto;
	left: 0;
	right: 500;
	top: 12%;
	color: white;
	width: 70%;
}
#name {
	z-index: 1;
	position: absolute;
	text-align: left;
	margin: 0 auto;
	left: 0;
	right: 500;
	top: 14%;
	color: white;
	width: 70%;
}
