.switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
	margin-right: 20px;
}

.reglage {
	z-index: 2;
	margin-top: 50px;
	transition: visibility 2s, opacity 2s linear;
}
#last {
	transition: visibility 2s, opacity 2s linear;
}
#droit {
	transition: visibility 2s, opacity 2s linear;
}
p {
	color: white;
	display: inline;
}

#view {
	color: white;
}
label {
	color: white;
}
.switch input {
	display: none;
}

.slider {
	background-color: rgb(61, 61, 61);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
}

.slider:before {
	background-color: rgb(24, 22, 22);
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
}

input:checked + .slider {
	background-color: #f8f8f8;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#img {
	max-width: 100%;
	max-height: 100%;

	margin: auto;
}
#img:-webkit-full-screen {
	width: 100%;
	height: 100%;
}
body {
	background-color: black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}
#date {
	z-index: 1;
	/* position: absolute; */
	text-align: left;
	/* margin: 0 auto; */
	left: 0;
	right: 500;
	top: 10%;
	color: white;
	width: 70%;
}
#heure {
	z-index: 1;
	/* position: absolute; */
	text-align: left;
	/* margin: 0 auto; */
	left: 0;
	right: 500;
	top: 12%;
	color: white;
	width: 70%;
}
#name {
	z-index: 1;
	/* position: absolute; */
	text-align: left;
	/* margin: 0 auto; */
	left: 0;
	right: 500;
	top: 14%;
	color: white;
	width: 70%;
}
#overlayUT4,
#overlayUT3,
#overlayUT2,
#overlayUT1 {
	font-size: 1.3em;
	color: green;
	font-weight: bold;
}

:root {
	--hauteur-menu: 60px;
}
* {
	margin: 0px;
	padding: 0px;
	font-family: Montserrat, sans-serif;
}
nav {
	z-index: 3;
	display: block;
	width: 20%;
	font-size: 18px;
	position: fixed;
	top: 80%;
	right: 20%;
}
#droit {
	z-index: 3;
	display: inline;
	width: 20%;

	top: 10%;
	right: 20%;
}
nav > ul {
	display: flex;
	text-align: center;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
	height: var(--hauteur-menu);
}

nav ul {
	list-style-type: none;
}

nav > ul > li {
	background-color: rgba(255, 255, 255, 0.555);
	position: relative;
	height: 100%;
	flex: 1;
}
nav > ul > li > a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

li a {
	text-decoration: none;
	color: black;
}

.menu-deroulant > a:after {
	content: "❯";
	font-size: 15px;
	margin-left: 7px;
	display: inline-block;
}
.sous-menu {
	margin-top: -228px;
	width: 100%;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.555);
	border-radius: 2px;
	overflow: hidden;
	max-height: 0;
}

.sous-menu > li > a {
	height: 50px;
	padding-left: 20px;
	width: 100%;
	align-items: center;
	display: flex;
}
nav > ul > li:hover > a {
	color: #000000;
}
.sous-menu > li:hover {
	background-color: rgba(255, 255, 255, 0);
}

.sous-menu > li:hover > a {
	color: white;
}
@keyframes rotationFleche {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
.menu-deroulant:hover > a:after {
	animation: rotationFleche 0.5s linear forwards;
}
@keyframes apparitionSousMenu {
	0% {
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
		border-bottom: 3px solid #646464;
	}
	30% {
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
	}
	100% {
		max-height: 50em;
		border-bottom: 3px solid #6d6d6d;
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
	}
}
.menu-deroulant:hover > .sous-menu {
	animation: apparitionSousMenu 1s forwards;
}
#nav {
	margin-top: 10%;
	/* display: flex;
	justify-content: flex-end; */
}

button {
	display: inline-block;
	background-color: #7b38d800;
	border-radius: 10px;
	border: 4px double #cccccc00;
	color: #000000;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 200px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
	/* margin: 5px; */
}
button:hover {
	background-color: rgb(92, 92, 92);
}

input[type="range"] {
	-webkit-appearance: none;
	margin-right: 15px;
	width: 200px;
	height: 7px;
	background: #dfdfdf;
	border-radius: 5px;
	background-image: linear-gradient(#dfdfdf, #dfdfdf);
	background-size: 70% 100%;
	background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #575757;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #575757;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background 0.3s ease-in-out;
}

input[type="range"]::-ms-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #575757;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
	background: #ffffff;
}

input[type="range"]::-moz-range-thumb:hover {
	background: #ffffff;
}

input[type="range"]::-ms-thumb:hover {
	background: #ffffff;
}

/* Input Track */
input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type="range"]::-moz-range-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type="range"]::-ms-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}
