.reglage {
	display: block;
	width: 30%;
	font-size: 18px;
	position: absolute;
	top: 87%;
	right: 50%;
	z-index: 2;
	margin-top: 50px;
	transition: visibility 2s, opacity 2s linear;
}
#last {
	margin-left: 19%;
	width: 100%;
	margin-top: 1%;
	transition: visibility 2s, opacity 2s linear;
}

#auto {
	width: auto;
	margin-right: -20%;
	margin-top: 0%;
	transition: visibility 2s, opacity 2s linear;
}
#nav {
	display: block;
	width: 50%;
	font-size: 18px;
	position: absolute;
	top: 70%;
	left: 70%;
	z-index: 2;
	margin-top: 50px;
	transition: visibility 2s, opacity 2s linear;
}
nav {
	position: fixed;
	width: 12%;
}
p {
	color: white;
	display: inline;
}
.container {
	width: auto;
}
#content {
	width: auto;
}

#view {
	color: white;
}
label {
	color: white;
}

#img {
	max-width: 55%;
	text-align: center !important;
	margin-left: 0%;
	margin-top: -14%;
}
#img:-webkit-full-screen {
	width: 100%;
	height: 100%;
}
body {
	background-color: black;
	width: 100%;
	/* display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto); */
}
#date {
	z-index: 1;
	position: absolute;
	text-align: left;
	/* margin: 0 auto; */
	margin-right: -25%;

	margin-top: -8%;
	color: white;
	width: 70%;
}
#heure {
	z-index: 1;
	position: absolute;
	text-align: left;
	/* margin: 0 auto; */
	margin-right: -25%;

	margin-top: -7%;
	color: white;
	width: 70%;
}
#name {
	z-index: 1;
	position: absolute;
	text-align: left;
	margin-right: -25%;

	margin-top: -6%;

	color: white;
	width: 70%;
}
#overlayUT4,
#overlayUT3,
#overlayUT2,
#overlayUT1 {
	font-size: 1.3em;
	color: green;
	font-weight: bold;
}

/* Pour télephones */
@media (min-width: 576px) {
}
/* Pour tablettes */
@media (min-width: 768px) {
}
/* Pour ordinateurs portables */
@media (min-width: 992px) {
	nav {
		width: 18%;
	}
}
/* Pour les grands écrans */
@media (min-width: 1200px) {
	nav {
		width: 18%;
	}
}
/* Pour les plus grands écrans */
@media (min-width: 2000px) {
	nav {
		width: 13%;
	}
	#content {
		margin-top: 10%;
	}
}
