.reglage {
	display: block;
	width: 50%;
	font-size: 18px;
	position: fixed;
	top: 85%;
	left: 0%;
	z-index: 2;
	margin-top: 50px;
	transition: visibility 2s, opacity 2s linear;
}
#contrast {
	margin-right: 1.9%;
}
#last {
	display: block;
	width: 106.5%;
	font-size: 18px;
	position: fixed;
	transition: visibility 2s, opacity 2s linear;
}

span {
	color: #f0f0f0;
}
#const {
	margin-left: 1.8%;
}

#auto {
	display: block;
	width: 97.5%;
	font-size: 18px;
	position: fixed;
	z-index: 2;
	transition: visibility 2s, opacity 2s linear;
}
#nav {
	display: block;
	width: 50%;
	font-size: 18px;
	position: absolute;
	top: 70%;
	left: 85%;
	z-index: 2;
	margin-top: 50px;
	transition: visibility 2s, opacity 2s linear;
}
nav {
	position: fixed;
	width: 12%;
}

p {
	color: #f0f0f0;
	display: inline;
}
.container {
	width: auto;
}
#content {
	width: auto;
}

#view {
	color: #f0f0f0;
}
label {
	color: #f0f0f0;
}

#img {
	border-radius: 50%;
}
#overlay {
	border-radius: 50%;
	z-index: 4;
	position: absolute;
}
.video-js {
	margin-top: -10%;
}
#img:-webkit-full-screen {
	width: 100%;
	height: 100%;
}
body {
	background-color: black;
	width: 100%;
}
#date {
	z-index: 1;
	position: absolute;
	text-align: left;

	margin-right: 41.7%;
	color: #f0f0f0;
}
#heure {
	z-index: 1;
	position: absolute;
	text-align: left;

	margin-right: 41.7%;
	color: #f0f0f0;
}
#name {
	z-index: 1;
	position: absolute;
	text-align: left;
	margin-right: 41.7%;

	color: #f0f0f0;
}

p {
	color: #f0f0f0;
}
@media only screen and (max-width: 899px) and (min-width: 600px) {
	#img {
		margin-top: 10%;
		max-width: 70%;
	}
	#date {
		margin-top: 7%;
		margin-left: -20%;
	}
	#heure {
		margin-top: 10%;
		margin-left: -20%;
	}
	#name {
		margin-top: 13%;
		margin-left: -20%;
	}
	nav {
		width: 32%;
		top: 90%;
		left: 68%;
	}
	#last {
		left: -14%;
		margin-top: 5.5%;
	}
	#auto {
		left: -2.5%;
		margin-top: 1%;
	}
	#const {
		margin-left: 4.1%;
	}
	#overlay {
		max-width: 70%;
		margin-left: 15%;
		margin-top: 10%;
	}
}
/* Pour ordinateurs portables */
@media only screen and (max-width: 1100px) and (min-width: 899px) {
	#img {
		margin-top: 3%;
		max-width: 70%;
	}
	#date {
		margin-top: 8%;
		margin-left: -20%;
	}
	#heure {
		margin-top: 10%;
		margin-left: -20%;
	}
	#name {
		margin-top: 12%;
		margin-left: -20%;
	}
	nav {
		width: 28%;
		top: 90%;
		left: 68%;
	}
	#last {
		left: -13.5%;
		margin-top: 5%;
	}
	#auto {
		left: -2.5%;
		margin-top: 1%;
	}
	#const {
		margin-left: 4.1%;
	}
	#overlay {
		max-width: 70%;
		margin-left: 15%;
		margin-top: 3%;
	}
}
@media only screen and (max-width: 1300px) and (min-width: 1099px) {
	#img {
		margin-top: 3%;
		max-width: 60%;
	}
	#date {
		margin-top: 8%;
		margin-left: -20%;
	}
	#heure {
		margin-top: 10%;
		margin-left: -20%;
	}
	#name {
		margin-top: 12%;
		margin-left: -20%;
	}
	nav {
		width: 23.5%;
		top: 90%;
		left: 68%;
	}
	#last {
		left: -21.5%;
		margin-top: 4%;
	}
	#auto {
		left: -11%;
		margin-top: 1%;
	}
	#const {
		margin-left: 2.8%;
	}
	#overlay {
		max-width: 60%;
		margin-left: 20%;
		margin-top: 3%;
	}
}
/* Pour les grands écrans */
@media only screen and (max-width: 1500px) and (min-width: 1299px) {
	#img {
		margin-top: 0%;
		margin-left: 5%;
		max-width: 60%;
	}
	#date {
		margin-top: 2%;
		margin-left: -20%;
	}
	#heure {
		margin-top: 4%;
		margin-left: -20%;
	}
	#name {
		margin-top: 6%;
		margin-left: -20%;
	}
	nav {
		width: 20.5%;
		top: 90%;
		left: 68%;
	}
	#last {
		left: -13%;
		margin-top: 5%;
	}
	#auto {
		left: -2.5%;
		margin-top: 1%;
	}
	#const {
		margin-left: 2.5%;
	}
	#overlay {
		max-width: 60%;
		margin-left: 22.5%;
		margin-top: 0%;
	}
}

@media only screen and (max-width: 1700px) and (min-width: 1499px) {
	#img {
		margin-top: 0%;
		max-width: 50%;
	}
	#date {
		margin-top: 2%;
		margin-left: -20%;
	}
	#heure {
		margin-top: 3.5%;
		margin-left: -20%;
	}
	#name {
		margin-top: 5%;
		margin-left: -20%;
	}
	nav {
		width: 18.5%;
		top: 90%;
		left: 68%;
	}
	#last {
		left: -18%;
		top: 7%;
	}
	#auto {
		left: -8%;
		margin-top: 1%;
	}
	#const {
		margin-left: 2.1%;
	}
	#overlay {
		max-width: 50%;
		margin-left: 25%;
		margin-top: 0%;
	}
}
@media only screen and (max-width: 1900px) and (min-width: 1699px) {
	#img {
		margin-top: 0%;
		max-width: 45%;
	}
	#date {
		margin-top: 2%;
		margin-left: -20%;
	}
	#heure {
		margin-top: 3.5%;
		margin-left: -20%;
	}
	#name {
		margin-top: 5%;
		margin-left: -20%;
	}
	nav {
		width: 16%;
		top: 90%;
		left: 68%;
	}
	#last {
		left: -13%;
		margin-top: 3%;
	}
	#auto {
		left: -3%;
		margin-top: 1%;
	}
	#const {
		margin-left: 1.8%;
	}
	#overlay {
		max-width: 45%;
		margin-left: 27.5%;
		margin-top: 0%;
	}
}
@media only screen and (max-width: 2200px) and (min-width: 1899px) {
	#img {
		margin-top: 0%;
		max-width: 45%;
	}
	#date {
		margin-top: 2%;
		margin-left: -20%;
	}
	#heure {
		margin-top: 3.5%;
		margin-left: -20%;
	}
	#name {
		margin-top: 5%;
		margin-left: -20%;
	}
	nav {
		width: 16%;
		top: 90%;
		left: 68%;
	}
	#last {
		left: -13%;
		margin-top: 3%;
	}
	#auto {
		left: -3%;
		margin-top: 1%;
	}
	#const {
		margin-left: 1.8%;
	}
	#overlay {
		max-width: 45%;
		margin-left: 27.5%;
		margin-top: 0%;
	}
}
@media only screen and (max-width: 5000px) and (min-width: 2199px) {
	#img {
		margin-top: 0%;
		max-width: 40%;
	}
	#date {
		margin-top: 2%;
		margin-left: -20%;
	}
	#heure {
		margin-top: 3.5%;
		margin-left: -20%;
	}
	#name {
		margin-top: 5%;
		margin-left: -20%;
	}
	nav {
		width: 16%;
		top: 90%;
		left: 68%;
	}
	#last {
		left: -13%;
		margin-top: 3%;
	}
	#auto {
		left: -3%;
		margin-top: 1%;
	}
	#const {
		margin-left: 1.8%;
	}
	#overlay {
		max-width: 40%;
		margin-left: 30%;
		margin-top: 0%;
	}
}
