/* #content {
	height: auto;
	position: relative;
}

#img {
	width: 100%;
	height: auto;
}

#content:hover,
#content:active {
	display: block;
	/* cursor: zoom-in; */
}

#content:hover #img-2,
#content:active #img-2 {
	opacity: 1;
}
#img-2 {
	width: 240px;
	height: 240px;
	background: url("../ressources/test.png") no-repeat rgba(0, 0, 0, 0);
	box-shadow: 0 10px 10px -2px rgb(0, 0, 0);
	pointer-events: none;
	position: absolute;
	opacity: 0;
	border: 2px solid rgb(0, 0, 0);
	z-index: 99;
	border-radius: 100%;
	display: block;
	transition: opacity 0.2s;
} */
