:root {
	--hauteur-menu: 60px;
}
* {
	margin: 0px;
	padding: 0px;
	font-family: Montserrat, sans-serif;
}

nav > ul {
	display: flex;
	text-align: center;
	/* box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3); */
	height: var(--hauteur-menu);
}

nav ul {
	list-style-type: none;
}

nav > ul > li {
	background-color: rgba(255, 255, 255, 0);
	position: relative;
	height: 100%;
	flex: 1;
}
nav > ul > li > button {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

li a {
	text-decoration: none;
	color: #f0f0f0;
}

.menu-deroulant > a:after {
	content: "â¯";
	font-size: 15px;
	margin-left: 7px;
	display: inline-block;
}
.sous-menu {
	margin-top: -300px;
	width: 100%;

	text-align: left;
	background-color: rgba(255, 255, 255, 0.048);
	border-radius: 2px;
	overflow: hidden;
	max-height: 0;
}

.sous-menu > li > a {
	height: 50px;
	padding-left: 20px;
	width: 100%;
	align-items: center;
	display: flex;
}

nav > ul > li:hover > a {
	color: #f0f0f0;
}
.sous-menu > li:hover {
	background-color: rgba(255, 255, 255, 0);
}

.sous-menu > li:hover > a {
	color: #f0f0f0;
}

@keyframes rotationFleche {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
.menu-deroulant:hover > a:after {
	animation: rotationFleche 0.5s linear forwards;
}
@keyframes apparitionSousMenu {
	0% {
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
		border-bottom: 3px solid #646464;
	}
	30% {
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
	}
	100% {
		max-height: 50em;
		border-bottom: 3px solid #6d6d6d;
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
	}
}
.menu-deroulant:hover > .sous-menu {
	animation: apparitionSousMenu 1s forwards;
}

button {
	display: inline-block;
	background-color: #7b38d800;
	border-radius: 50px;
	border: 4px double #cccccc00;
	color: #f0f0f0;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 200px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
	margin-left: -7%;
}
button:hover {
	background-color: #f0f0f0;
	color: black;
}
