:root {
	--hauteur-menu: 0px;
}
* {
	margin: 0px;
	padding: 0px;
	font-family: Montserrat, sans-serif;
}

#droit {
	z-index: 3;
	display: inline;
	width: 20%;
	top: 10%;
	right: 20%;
}
nav > ul {
	display: flex;
	text-align: center;

	height: var(--hauteur-menu);
}

nav ul {
	list-style-type: none;
}

nav > ul > li {
	background-color: rgba(255, 255, 255, 0);
	position: relative;
	height: 100%;
}
nav > ul > li > button {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

li a {
	text-decoration: none;
	color: #f0f0f0;
}

.menu-deroulant > a:after {
	content: "â¯";
	font-size: 15px;
	margin-left: 7px;
	display: inline-block;
}
.sous-menu {
	width: 113%;
	margin-top: -180%;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.712);
	border-radius: 2px;
	overflow: hidden;
	max-height: 0;
}

.sous-menu > li > a {
	/* height: 50px; */
	/* padding-left: 20px; */
	/* width: 100%; */
	align-items: center;
	display: flex;
}
#menuA {
	padding-top: 30%;
}

nav > ul > li:hover > a,
nav > ul > li:focus > a {
	color: #f0f0f0;
}
.sous-menu > li:hover {
	background-color: rgba(255, 255, 255, 0);
}

.sous-menu > li:hover > a,
.sous-menu > li:focus > a {
	color: #f0f0f0;
}

@keyframes rotationFleche {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
.menu-deroulant:hover > a:after,
.menu-deroulant:focus > a:after {
	animation: rotationFleche 0.5s linear forwards;
}
@keyframes apparitionSousMenu {
	0% {
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
		border-bottom: 3px solid #64646400;
	}
	30% {
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
	}
	100% {
		max-height: 50em;
		border-bottom: 3px solid #ffffff00;
		box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
	}
}
.menu-deroulant:hover > .sous-menu,
.menu-deroulant:focus > .sous-menu {
	animation: apparitionSousMenu 0s forwards;
}

#nav {
	margin-top: 10%;
}

button {
	display: inline-block;
	background-color: #7b38d800;
	border-radius: 10px;
	border: 4px double #cccccc00;
	color: #f0f0f0;

	font-size: 15px;
	padding: 10px;
	width: 200px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}
button:hover {
	background-color: #f0f0f0;
	color: black;
}
/* fin menu */
/* @media only screen and (max-width: 699px) and (min-width: 500px) {
	.sous-menu {
		margin-top: -170%;
	
	}
}
@media only screen and (max-width: 899px) and (min-width: 700px) {
	.sous-menu {
		margin-top: -170%;
		
	}
}

@media only screen and (max-width: 1100px) and (min-width: 899px) {
	.sous-menu {
		margin-top: -170%;
		border: 1px red solid;
	}
}
@media only screen and (max-width: 1300px) and (min-width: 1099px) {
	.sous-menu {
		margin-top: -170%;
		border: 1px red solid;
	}
}

@media only screen and (max-width: 1500px) and (min-width: 1299px) {
	.sous-menu {
		margin-top: -170%;
		border: 1px red solid;
	}
}

@media only screen and (max-width: 1700px) and (min-width: 1499px) {
	.sous-menu {
		margin-top: -170%;
		border: 1px red solid;
	}
}
@media only screen and (max-width: 1900px) and (min-width: 1699px) {
	.sous-menu {
		margin-top: -170%;
		border: 1px red solid;
	}
}
@media only screen and (max-width: 2200px) and (min-width: 1899px) {
	.sous-menu {
		margin-top: -170%;
		padding-bottom: -200%;
		border: 1px red solid;
	}
}
@media only screen and (max-width: 5000px) and (min-width: 2199px) {
	.sous-menu {
		margin-top: -170%;
	}
} */

/* #nav {
	width: 50%;
	z-index: 55;
	position: absolute;
	margin: 0 auto;
	color: rgb(255, 255, 255);
	padding: 0.8em;
	border-radius: 10px;
	font-size: 0.85em;
	margin-top: -25%;
	border: 1px red solid;
	margin-left: 80%;
}

#div1 {
	position: absolute;
	width: 24%;
	border-radius: 10px;
	padding: 0.5em;
	overflow: hidden;
	height: 1.5em;
	cursor: pointer;
}

#div1:hover,
#div1:focus {
	background-color: rgb(38, 38, 40);
	padding-bottom: 42%;
	color: rgb(255, 255, 255);
	transition: background 0.5s ease, color 0.5s ease;
}
#div1:active,
#div1:focus {
	height: 6.7em;
	transition: height 0.3s ease;
	z-index: 3;
}

#nav h4 {
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 0.5em 0;
}
#nav ul {
	margin: 0;
	list-style: none;
	padding-left: 0.4em;
}
button {
	display: inline-block;
	background-color: #7b38d800;
	border-radius: 10px;
	border: 4px double #cccccc00;
	color: #f0f0f0;

	font-size: 15px;
	padding: 10px;
	width: 200px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}
button:hover {
	background-color: #f0f0f0;
	color: black;
} */
