* {
	font-size: 1.5vh;
}
small {
	opacity: 0;
}
html {
	height: 100%;
	width: 100%;
}
#infoImg {
	width: 70%;
	position: relative;
	z-index: 8;
}
#menu {
	position: fixed;
	padding: 3%;
}
.reglage {
	display: block;
	font-size: 18px;
	position: fixed;
	left: 0%;
	z-index: 2;
	margin-top: 3%;
	background-color: rgba(0, 0, 0, 0.712);
}

#contrast {
	margin-right: 1.9%;
}
#last {
	display: block;

	font-size: 18px;
	position: fixed;
	z-index: 98;
}

span {
	color: #f0f0f0;
}

#const {
	margin-left: 1.8%;
}

#auto {
	display: block;
	opacity: 0;
	font-size: 18px;
	position: fixed;
	z-index: 2;
}
/* #nav {
	display: block;
	width: 50%;
	font-size: 18px;
	position: absolute;
	z-index: 2;
} */
nav {
	position: fixed;
	width: 12%;
}

p {
	color: #f0f0f0;
	display: inline;
}
.container {
	width: auto;
}
#content {
	width: auto;
}

#view {
	color: #f0f0f0;
}
label {
	color: #f0f0f0;
}

#overlay {
	border-radius: 50%;
	z-index: 4;
	position: absolute;
}
.video-js {
	margin-top: 0%;
}
#img:-webkit-full-screen {
	width: 100%;
	height: 100%;
}
#img {
	border-radius: 100%;
}
body {
	background-color: black;
	width: 100%;
}
#date {
	z-index: 1;
	position: absolute;
	text-align: left;

	margin-right: 41.7%;
	color: #f0f0f0;
}
#heure {
	z-index: 1;
	position: absolute;
	text-align: left;

	margin-right: 41.7%;
	color: #f0f0f0;
}
#name {
	z-index: 1;
	position: absolute;
	text-align: left;
	margin-right: 41.7%;

	color: #f0f0f0;
}

p {
	color: #f0f0f0;
}
/* #img {
	filter: invert(1) !important;
} */
@media only screen and (max-width: 499px) and (min-width: 250px) {
	#img,
	#imgAttenuation {
		max-width: 100%;
		margin-top: 20%;
	}
	#date {
		margin-top: 7.5%;
		margin-left: -30%;
	}
	#heure {
		margin-top: 12%;
		margin-left: -30%;
	}
	#name {
		margin-top: 16%;
		margin-left: -30%;
	}
	nav {
		width: 32%;
		top: 75%;
		left: 40%;
	}
	#last {
		width: 129.5%;
		left: -35%;
		margin-top: 10%;
	}
	#auto {
		width: 120%;
		left: -27%;
		margin-top: 1%;
	}
	#const {
		margin-left: 5.8%;
	}
	#brightness {
		margin-left: 2%;
	}
	#invert {
		margin-left: 7.8%;
		margin-top: 10%;
		border: 1px solid red;
	}
	#overlay {
		max-width: 100%;
		margin-left: 0%;
		margin-top: 20%;
	}
	.reglage {
		top: 70%;
	}
	#infoImg {
		left: 25%;
	}
	.video-js {
		width: 80%;
	}
	#menu {
		bottom: 27%;
		left: -8%;
		border: 1px solid red;
	}
}
@media only screen and (max-width: 699px) and (min-width: 500px) {
	#img,
	#imgAttenuation {
		max-width: 100%;
	}
	#date {
		margin-top: 7%;
		margin-left: -30%;
	}
	#heure {
		margin-top: 10.5%;
		margin-left: -30%;
	}
	#name {
		margin-top: 14%;
		margin-left: -30%;
	}
	nav {
		width: 32%;
		top: 80%;
		left: 60%;
	}
	#last {
		width: 129.5%;
		left: -35%;
		margin-top: 1%;
	}
	#auto {
		width: 120%;
		left: -0%;
		margin-top: 1%;
	}
	#const {
		margin-left: 0%;
	}
	#brightness {
		margin-left: 0%;
	}
	#invert {
		margin-left: 0%;
		margin-top: 10%;
	}
	#overlay {
		max-width: 100%;
		margin-left: 0%;
		margin-top: 0%;
	}
	.reglage {
		top: 75%;
	}
	#infoImg {
		left: 25%;
	}
	.video-js {
		width: 80%;
	}
	#menu {
		margin-top: -12%;
		left: -19%;
	}
}
@media only screen and (max-width: 899px) and (min-width: 700px) {
	#img,
	#imgAttenuation {
		max-width: 95%;
	}
	#date {
		margin-top: 7%;
		margin-left: -30%;
	}
	#heure {
		margin-top: 10%;
		margin-left: -30%;
	}
	#name {
		margin-top: 13%;
		margin-left: -30%;
	}
	nav {
		width: 32%;
		top: 95%;
		left: 65%;
	}
	#last {
		width: 129.5%;
		left: -35%;
		margin-top: 1%;
	}
	#auto {
		width: 120%;
		left: 0%;
		margin-top: 1%;
	}
	#const {
		margin-left: 0%;
	}
	#brightness {
		margin-left: 0%;
	}
	#invert {
		margin-left: 0%;
		margin-top: 10%;
	}
	#overlay {
		max-width: 95%;
		margin-left: 0%;
		margin-top: 0%;
	}
	.reglage {
		top: 88%;
		left: 2.5%;
	}
	#infoImg {
		left: 30%;
	}
	.video-js {
		width: 80%;
	}
	#menu {
		bottom: 4%;
		left: -13%;
	}
}
/* Pour ordinateurs portables */
@media only screen and (max-width: 1100px) and (min-width: 899px) {
	#img,
	#imgAttenuation {
		max-width: 70%;
	}
	#date {
		margin-top: 4%;
		margin-left: -18%;
	}
	#heure {
		margin-top: 6.5%;
		margin-left: -18%;
	}
	#name {
		margin-top: 9%;
		margin-left: -18%;
	}
	nav {
		width: 28%;
		top: 92%;
		left: 60%;
	}
	#last {
		width: 117.2%;
		right: 17%;
		margin-top: 1%;
	}
	#auto {
		width: 108%;
		left: -10.3%;
		margin-top: 1%;
	}
	#const {
		margin-left: 0%;
	}
	#brightness {
		margin-left: 0%;
	}
	#invert {
		margin-left: 0%;
		margin-top: 10%;
	}
	#overlay {
		max-width: 70%;
		margin-left: 0%;
		margin-top: 0%;
	}
	.reglage {
		top: 85.5%;
		left: 15%;
	}
	#infoImg {
		left: 30%;
	}
	.video-js {
		width: 50%;
	}
	#menu {
		bottom: 2%;
		left: 2%;
	}
}
@media only screen and (max-width: 1300px) and (min-width: 1099px) {
	#img,
	#imgAttenuation {
		max-width: 60%;
		/* border: 1px red solid; */
	}
	#date {
		margin-top: 3%;
		margin-left: -10%;
	}
	#heure {
		margin-top: 5.5%;
		margin-left: -10%;
	}
	#name {
		margin-top: 8%;
		margin-left: -10%;
	}
	nav {
		width: 23.5%;
		top: 95%;
		left: 60%;
	}
	#last {
		width: 117%;
		right: 22%;
		margin-top: 1%;
	}
	#auto {
		width: 108%;
		left: -14.5%;
		margin-top: 1%;
	}
	#const {
		margin-left: 0%;
	}
	#brightness {
		margin-left: 0%;
	}
	#invert {
		margin-left: 0%;
		margin-top: 10%;
	}
	#overlay {
		max-width: 60%;
		margin-left: 0%;
		margin-top: 0%;
	}
	.reglage {
		top: 86%;
		left: 20%;
	}
	#infoImg {
		left: 28%;
	}
	.video-js {
		width: 46%;
	}
	#menu {
		bottom: 4%;
		left: 8.5%;
	}
}
/* Pour les grands écrans */
@media only screen and (max-width: 1500px) and (min-width: 1299px) {
	#img,
	#imgAttenuation {
		max-width: 60%;
	}
	#date {
		margin-top: 2%;
		margin-left: -10%;
	}
	#heure {
		margin-top: 4%;
		margin-left: -10%;
	}
	#name {
		margin-top: 6%;
		margin-left: -10%;
	}
	nav {
		width: 20.5%;
		top: 90%;
		left: 62%;
	}
	#last {
		width: 110.9%;
		right: 22%;
		margin-top: 1%;
	}
	#auto {
		width: 102%;
		left: -7.5%;
		margin-top: 1%;
	}
	#const {
		margin-left: 0%;
	}
	#brightness {
		margin-left: 0%;
	}
	#invert {
		margin-left: 0%;
		margin-top: 10%;
	}
	#overlay {
		max-width: 60%;
		margin-left: 0%;
		margin-top: 0%;
	}
	.reglage {
		top: 84%;
		left: 20%;
	}
	#infoImg {
		left: 28%;
	}
	.video-js {
		width: 40%;
	}
	#menu {
		bottom: 5%;
		left: 9.7%;
	}
}

@media only screen and (max-width: 1700px) and (min-width: 1499px) {
	#img,
	#imgAttenuation {
		max-width: 55%;
	}
	#date {
		margin-top: 2%;
		margin-left: -5%;
	}
	#heure {
		margin-top: 4%;
		margin-left: -5%;
	}
	#name {
		margin-top: 6%;
		margin-left: -5%;
	}
	nav {
		width: 18.5%;
		top: 90%;
		left: 60%;
	}
	#last {
		width: 110.8%;
		right: 25%;
		margin-top: 1%;
	}
	#auto {
		width: 102%;
		left: -17.5%;
		margin-top: 1%;
	}
	#const {
		margin-left: 0%;
	}
	#brightness {
		margin-left: 0%;
	}
	#invert {
		margin-left: 0%;
		margin-top: 10%;
	}
	#overlay {
		max-width: 55%;
		margin-left: 0%;
		margin-top: 0%;
	}
	.reglage {
		top: 85%;
		left: 22.5%;
	}
	#infoImg {
		left: 28%;
	}
	.video-js {
		width: 40%;
	}
	#menu {
		bottom: 3%;
		left: 12.5%;
	}
}
@media only screen and (max-width: 1900px) and (min-width: 1699px) {
	#img,
	#imgAttenuation {
		max-width: 65%;
	}
	#date {
		margin-top: 2%;
		margin-left: -10%;
	}
	#heure {
		margin-top: 3.5%;
		margin-left: -10%;
	}
	#name {
		margin-top: 5%;
		margin-left: -10%;
	}
	nav {
		width: 16%;
		top: 90%;
		left: 67%;
	}
	#last {
		width: 103.7%;
		left: -24.8%;
		margin-top: 3%;
	}
	#auto {
		width: 95%;
		left: -17%;
		margin-top: 1%;
	}
	#const {
		margin-left: 0%;
	}
	#brightness {
		margin-left: 0%;
	}
	#invert {
		margin-left: 0%;
		margin-top: 10%;
	}
	#overlay {
		max-width: 65%;
		margin-left: 0%;
		/* margin-top: 2%; */
	}
	.reglage {
		top: 85%;
		left: 17.5%;
	}
	#infoImg {
		left: 25%;
	}
	.video-js {
		width: 65%;
		/* border: 1px red solid; */
	}
	#menu {
		bottom: 1%;
		left: 8.5%;
	}
}
/* Pour mon ecran */
@media only screen and (max-width: 2200px) and (min-width: 1899px) {
	#img,
	#imgAttenuation {
		max-width: 55%;
	}
	#date {
		margin-top: 2%;
		margin-left: -0%;
	}
	#heure {
		margin-top: 3.5%;
		margin-left: -0%;
	}
	#name {
		margin-top: 5%;
		margin-left: -0%;
	}
	nav {
		width: 16%;
		top: 95%;
		left: 63%;
	}
	#last {
		width: 103.7%;
		left: -29%;
		margin-top: 1%;
	}
	#auto {
		width: 95%;
		left: -0%;
		margin-top: 1%;
	}
	#const {
		margin-left: 0%;
	}
	#brightness {
		margin-left: 0%;
	}
	#invert {
		margin-left: 0%;
	}
	#overlay {
		max-width: 55%;
		margin-left: 0%;
		margin-top: 0%;
	}
	.reglage {
		top: 85%;
		left: 22.5%;
	}
	#infoImg {
		left: 25%;
	}
	.video-js {
		width: 55%;
	}
	#menu {
		bottom: 2%;
		left: 13.8%;
	}
}
@media only screen and (max-width: 6000px) and (min-width: 2199px) {
	#img,
	#imgAttenuation {
		max-width: 50%;
	}
	#date {
		margin-top: 2%;
		margin-left: 5%;
	}
	#heure {
		margin-top: 3.5%;
		margin-left: 5%;
	}
	#name {
		margin-top: 5%;
		margin-left: 5%;
	}
	nav {
		width: 16%;
		top: 94%;
		left: 62%;
	}
	#last {
		width: 103.6%;
		left: -32%;
		margin-top: 1%;
	}
	#auto {
		width: 95%;
		left: 50%;
		margin-top: 1%;
	}
	#const {
		margin-left: 1.8%;
	}
	#overlay {
		max-width: 50%;
		margin-left: 0%;
		margin-top: 0%;
	}
	#const {
		margin-left: 0%;
	}
	#brightness {
		margin-left: 0%;
	}
	#invert {
		margin-left: 0%;
	}
	.reglage {
		top: 83%;
		left: 25%;
	}
	#infoImg {
		left: 23%;
	}
	.video-js {
		width: 50%;
	}
	#menu {
		margin-top: -1%;
		left: 17.5%;
	}
}
